<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sharecode User Interface</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Sharecode User Interface</h3>
<form action="#" th:action="@{/}" th:object="${post}" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}" /></td>
            <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id is not valid</td>
        </tr>
        <tr>
            <td>Value:</td>
            <td><textarea  rows="5" cols="25" th:field="*{value}" ></textarea></td>
            <td th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Value is not valid</td>
        </tr>
        <tr>
            <td><button type="submit">Submit new value</button></td>
        </tr>
    </table>
</form>
<h4>QR with link</h4>
<div><img th:src="${link}" /></div>
<h4>Content of link</h4>
<div><iframe th:src="${value}"></iframe></div>
<h4>Direct QR</h4>
<div><img th:src="${qr}" /></div>
</body>
</html>

